.images{
    display: flex;
    transition: all 0.5s;
}
.window .images img{
    width: 300px;
}

.window{
    display: flex;
    border: 5px solid grey;
    width: 300px;
    overflow: hidden;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
    margin: 10px auto;
}

.red{
    color: red;
}

.buttons{
    text-align: center;
}